@import "./reset.scss";
@import "./var.scss";
@import url("https://fonts.googleapis.com/css2?family=DM+Sans:opsz@9..40&family=Dela+Gothic+One&family=Heebo:wght@400;500;700&family=Montserrat:wght@600&display=swap");

/*
font-family: 'Dela Gothic One', cursive;
font-family: 'DM Sans', sans-serif;
font-family: 'Heebo', sans-serif;
font-family: 'Montserrat', sans-serif;
*/

html,
body {
  font-family: "Heebo", sans-serif;
  color: $black;
}

h1 {
  font-size: 70px;
}

h2 {
  font-size: 60px;
}

.title {
  font-family: "Dela Gothic One";
  font-weight: 400;
  text-transform: capitalize;
  span {
    color: $violet;
  }
}

/*=============== NAV ===============*/

.nav {
  padding: 65px 0;
}

.nav-container {
  padding: 0 15px;
  max-width: 1498px;
  margin: 0 auto;
}

.nav-list {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  column-gap: 80px;
}

.nav-list__link {
  color: $black;
  font-size: 25px;
  font-weight: 400;
}

/*=============== HOME ===============*/
.home-container {
  padding: 0 15px;
  max-width: 1636px;
  margin: 0 auto;
}

.home {
  display: flex;
  justify-content: space-between;
  padding: 116px 0 67px;
  &-text {
    padding: 31px 0;
    margin-left: 26px;
    max-width: 632px;
  }
  &-content {
    padding: 117px 16px 0 0;
    font-size: 40px;
    font-weight: 400;
  }
}

.home-img img {
  width: 813px;
  height: auto;
}

/*=============== CHOOSE ===============*/
.choose-container {
  padding: 0 15px;
  max-width: 1732px;
  margin: 0 auto;
}

.choose {
  padding: 191px 0 0;
  h2.title {
    margin-left: 64px;
    max-width: 528px;
  }
}

.choose-cards {
  display: flex;
  justify-content: center;
  padding: 117px 0 128px;
  column-gap: 59px;
}

.choose-cards-item {
  max-width: 528px;
  max-height: auto;
  padding: 60px;
  border-radius: $general-radius;

  &.green {
    background-color: $choose-green;
  }
  &.pink {
    background-color: $choose-pink;
  }
  &.yellow {
    background-color: $choose-yellow;
  }
}

.icon-box {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  height: 120px;
  margin-bottom: 84px;
}

.item-title {
  margin: 0 0 12px;
  font-size: 32px;
  font-weight: 700;
}

.item-text {
  margin-right: -15px;
  font-size: 22px;
  font-style: normal;
  font-weight: 400;
}

/*=============== ABOUT ===============*/
.about-container {
  padding: 0 15px;
  max-width: 1654px;
  margin: 0 auto;
}

.about {
  padding: 157px 0 0;
  h2.title {
    margin-left: 25px;
    max-width: 528px;
  }
}

.about-content {
  display: flex;
  column-gap: 153px;
  margin: 55px 0 103px 77px;
}

.about-text {
  max-width: 846px;
  padding-top: 84px;
  font-size: 32px;
  font-weight: 400;

  p + p {
    margin-top: 1em;
  }
}

.about-img img {
  width: 540px;
  height: auto;
}

/*=============== SERVICES ===============*/
.services-container {
  padding: 0 15px;
  max-width: 1670px;
  margin: 0 auto;
}

.services {
  padding: 174px 0 0;
  h2.title {
    margin-left: 33px;
    max-width: 328px;
  }
}

.services-cards {
  display: flex;
  justify-content: center;
  padding: 170px 0 95px;
  column-gap: 38px;
}

.services-cards-item {
  position: relative;
  max-width: 521px;
  max-height: auto;
  padding: 51px 33px;
  border-radius: $general-radius;
  background-color: #93dfcd;
  &.violet {
    background-color: #803eb1;
    color: $white;
  }
}

.service-item-icon {
  position: absolute;
  right: 53px;
  top: 51px;
}

.item-text-1,
.item-text-2 {
  font-size: 28px;
  font-weight: 400;
}

.item-text-1 {
  max-width: 313px;
  margin-top: 87px;
}

.item-text-2 {
  max-width: 462px;
}

/*=============== FILTER ===============*/
.filter-wrapper {
  position: relative;
}

.filter-container {
  padding: 0 15px;
  max-width: 1604px;
  margin: 0 auto;
}

.filter {
  padding: 171px 0 0;
  h2.title {
    max-width: 375px;
  }
}

.filter-categorys {
  display: flex;
  justify-content: center;
  column-gap: 130px;
  margin: 96px 0 164px;
}

.category-item {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.category-title {
  font-size: 32px;
  font-style: normal;
  font-weight: 700;
  padding-bottom: 68px;
}

.btns-group {
  display: flex;
  flex-direction: column;
  align-items: center;
  row-gap: 23px;
}

.btn {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 276px;
  opacity: 0.5;
  background: $violet;
  border-radius: $general-radius;
  &.small {
    width: 175px;
  }
  &.big {
    width: 300px;
  }
  &.active {
    opacity: 1;
  }
  &.form {
    width: 130px;
    border-radius: 15px;
  }
}

.btn-name {
  color: $white;
  font-size: 28px;
  font-weight: 400;
  padding: 23px 0;
}

.btn-icon {
  margin-left: 16px;
}

.form-group {
  display: flex;
  justify-content: center;
  align-items: center;
  column-gap: 42px;
  padding-bottom: 142px;
}

.input-field {
  display: block;
  width: 817px;
  padding: 14px 20px;
  font-size: 32px;
  font-weight: 400;

  border-radius: 15px;
  background: rgba(104, 48, 147, 0.2);
}

.filter-decor {
  position: absolute;
  right: 0;
  bottom: 72px;
}

/*=============== SCHEDULE ===============*/
.schedule-container {
  padding: 0 15px;
  max-width: 1616px;
  margin: 0 auto;
}

.schedule {
  padding: 60px 0 0;
  h2.title {
    width: 375px;
    margin-left: 6px;
  }
}

.schedule-calendar {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 188px;
  padding-bottom: 116px;
}

.calendar {
  display: flex;
  flex-direction: column;
  align-items: center;
  max-width: 1586px;
  padding-bottom: 110px;
}

.days-list,
.nums-list {
  display: flex;
  justify-content: space-between;
  align-items: center;
  column-gap: 31px;
}

.days-list {
  border-bottom: 1px solid $black;
}

.nums-list {
  margin-bottom: 84px;
}

.day,
.num {
  width: 200px;
  text-align: center;
}

.day {
  padding-bottom: 14px;
  font-size: 35px;
  font-weight: 700;
  text-transform: uppercase;
}

.num {
  padding-top: 34px;
  font-size: 50px;
  font-weight: 400;
}

.calendar-rows {
  display: flex;
  flex-direction: column;
  row-gap: 21px;
}

.row-item {
  display: flex;
  justify-content: space-between;
  column-gap: 31px;
  .btn {
    background-color: $violet-light;
    opacity: 1;
    .btn-name {
      color: $black;
      font-size: 35px;
    }
    &.active {
      background-color: $violet;
      .btn-name {
        color: $white;
      }
    }
  }
}

.row-item .btn {
  width: 200px;
  height: 65px;
  border-radius: 15px;
}

/*=============== CLIENTS ===============*/
.clients-container {
  padding: 0 15px;
  max-width: 1616px;
  margin: 0 auto;
}

.clients {
  padding: 60px 0 0;
  h2.title {
    width: 490px;
  }
}

.clients-img {
  width: 1476px;
  height: auto;
  margin: 166px 0 104px 167px;
}

/*=============== FQA ===============*/
.fqa-wrapper {
  position: relative;
}

.fqa-container {
  padding: 0 15px;
  max-width: 1616px;
  margin: 0 auto;
}

.fqa {
  padding: 143px 0 0;
  h2.title {
    width: 163px;
  }
}

.fqa-cards {
  display: flex;
  flex-direction: column;
  row-gap: 50px;
  margin: 130px 0 116px;
}

.fqa-cards-item {
  padding: 20px 50px;
  background-color: $green;
  border-radius: $general-radius;
  &:nth-child(1) {
    padding-right: 213px;
  }
  &:nth-child(2) {
    max-width: 1324px;
    padding-right: 50px;
  }
  &:nth-child(3) {
    padding-right: 50px;
  }
  &:nth-child(4) {
    max-width: 1205px;
    padding-right: 50px;
  }

  .item-title {
    font-size: 25px;
    text-transform: uppercase;
    margin-bottom: 17px;
  }
  .item-text {
    font-size: 28px;
  }
}

.fqa-circle-1 {
  display: none;
}

.fqa-circle-2 {
  position: absolute;
  right: 31px;
  bottom: -212px;
}

/*=============== CONTACTS ===============*/
.contacts-container {
  padding: 0 15px;
  max-width: 1604px;
  margin: 0 auto;
}

.contacts {
  padding: 155px 0 101px;
  h2.title {
    width: 453px;
  }
}

.socials-group {
  display: flex;
  justify-content: center;
  align-items: center;
  column-gap: 46px;
  margin-top: 155px;
}

/*=============== MEDIA ===============*/
@media (max-width: 390px) {
  h1 {
    font-size: 15px;
  }

  h2 {
    font-size: 13px;
  }

  /*---------- NAV ----------*/
  .nav {
    padding: 0;
  }

  .nav-container {
    display: flex;
    justify-content: center;
  }

  .nav-list {
    padding: 5px 28px;
    justify-content: center;
    column-gap: 25px;
    background-color: $violet;
    border-radius: 0 0 5px 5px;
  }

  .nav-list__item {
    font-size: 7px;
  }

  .nav-list__link {
    color: $white;
    font-size: 7px;
  }

  /*---------- HOME ----------*/
  .home-container {
    padding: 0;
  }

  .home {
    padding: 24px 16px 38px;
    &-text {
      padding: 6px 0 0;
      margin: 0;
      width: 138px;
    }
    &-content {
      padding: 27px 0 0;
      font-size: 9px;
      font-weight: 400;
    }
  }

  .home-img img {
    width: 181px;
    height: auto;
  }

  /*---------- CHOOSE ----------*/

  .choose-container {
    padding: 0;
  }

  .choose {
    padding: 38px 16px 44px;
    h2.title {
      margin: 0;
      max-width: 121px;
    }
  }

  .choose-cards {
    flex-direction: column;
    padding: 38px 48px 0;
    row-gap: 20px;
  }

  .choose-cards-item {
    padding: 26px 11px 38px 21px;
    .item-title {
      margin: 0 0 15px;
      font-size: 12px;
    }
  }

  .icon-box {
    height: 38px;
    margin-bottom: 11px;
    img {
      width: 38px;
      margin-right: 21px;
    }
  }

  .item-text {
    margin-right: 0;
    font-size: 11px;
  }

  /*---------- ABOUT ----------*/
  .about {
    padding: 45px 0 51px;
    h2.title {
      margin: 0;
      max-width: 85px;
    }
  }

  .about-content {
    flex-direction: column;
    align-items: center;
    margin: 0;
    padding: 32px 0 0;
  }

  .about-text {
    order: 2;
    padding: 0;
    font-size: 13px;
    margin: 0 6px;
  }

  .about-img img {
    order: 1;
    width: 223px;
    padding: 0;
    margin-bottom: 32px;
  }

  /*---------- SERVICES ----------*/
  .services {
    padding: 52px 0 63px;
    h2.title {
      margin: 0;
      max-width: 80px;
    }
  }

  .services-cards {
    flex-direction: column;
    padding: 63px 45px 0 42px;
    row-gap: 20px;
  }

  .services-cards-item {
    width: 287px;
    height: 360px;
    padding: 28px 14px 0 18px;
    .item-title {
      font-size: 15px;
    }
    &:nth-child(3) .item-text-2 {
      max-width: 245px;
    }
  }

  .service-item-icon {
    width: 67px;
    height: 100px;
    right: 29px;
    top: 28px;
  }

  .item-text-1,
  .item-text-2 {
    font-size: 15px;
  }

  .item-text-1 {
    max-width: 172px;
    margin-top: 58px;
  }

  .item-text-2 {
    max-width: 255px;
  }

  /*---------- FILTER ----------*/
  .filter {
    padding: 42px 0;
    h2.title {
      max-width: 99px;
    }
  }

  .filter-categorys {
    flex-direction: column;
    margin: 35px 24px 0;
    row-gap: 22px;
  }

  .category-title {
    font-size: 12px;
    padding-bottom: 18px;
  }

  .btns-group {
    flex-direction: row;
    justify-content: center;
    flex-wrap: wrap;
    column-gap: 5px;
  }

  .btn {
    width: 100px;
    border-radius: 13px;
    &.small {
      width: 70px;
    }
    &.big {
      width: 120px;
    }
    &.form {
      width: 38px;
      padding: 6px;
      border-radius: 4px;
      img {
        width: 9px;
        height: 9px;
        padding: 0;
      }
    }
  }

  .btn-name {
    font-size: 10px;
    padding: 10px 0;
  }

  .btn-icon {
    margin-left: 7px;
    width: 14px;
    height: 14px;
  }

  .form-group {
    column-gap: 12px;
    padding-bottom: 34px;
  }

  .input-field {
    width: 238px;
    padding: 4px 6px;
    font-size: 9px;
    border-radius: 4px;
  }

  .filter-decor {
    height: 53px;
    width: auto;
    bottom: -19px;
  }

  /*---------- SCHEDULE ----------*/

  .schedule {
    padding: 43px 0 47px;
    h2.title {
      width: 86px;
      margin: 0;
    }
  }

  .schedule-calendar {
    margin-top: 39px;
    padding-bottom: 0;
  }

  .calendar {
    padding-bottom: 25px;
  }

  .days-list,
  .nums-list {
    column-gap: 7px;
  }

  .nums-list {
    margin-bottom: 19px;
  }

  .day,
  .num {
    width: 46px;
  }

  .day {
    padding-bottom: 0;
    font-size: 10px;
  }

  .num {
    padding-top: 8px;
    font-size: 12px;
  }

  .calendar-rows {
    row-gap: 5px;
  }

  .row-item {
    column-gap: 7px;
    .btn .btn-name {
      font-size: 8px;
    }
  }

  .row-item .btn {
    width: 46px;
    height: 15px;
    border-radius: 3px;
  }

  /*---------- CLIENTS ----------*/
  .clients {
    padding: 17px 0 37px;
    h2.title {
      width: 123px;
    }
  }

  .clients-img {
    width: 322px;
    margin: 30px 20px 0 31px;
  }

  /*=============== FQA ===============*/
  .fqa {
    padding: 47px 0 46px;
    h2.title {
      width: 163px;
    }
  }

  .fqa-cards {
    row-gap: 15px;
    margin: 30px -8px 0;
  }

  .fqa-cards-item {
    padding: 9px 14px;
    border-radius: 14px;
    &:nth-child(1) {
      padding-right: 27px;
    }
    &:nth-child(2) {
      padding-right: 23px;
    }
    &:nth-child(3) {
      padding-right: 14px;
    }
    &:nth-child(4) {
      padding-right: 22px;
    }

    .item-title {
      font-size: 10px;
      margin-bottom: 7px;
    }
    .item-text {
      font-size: 10px;
      padding-left: 9px;
    }
  }

  .fqa-circle-1 {
    display: none;
  }

  .fqa-circle-2 {
    width: 50px;
    height: 50px;
    right: 12px;
    bottom: -25px;
  }

  /*---------- CONTACTS ----------*/
  .contacts {
    padding: 45px 0 32px;
    h2.title {
      width: 114px;
    }
  }

  .socials-group {
    column-gap: 11px;
    margin-top: 32px;
  }
}
